// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "enabled": "true",
  "shape": "Circle",
  "position": "TopRight",
  "showDayNight": "true",
  "info1Label": "Blank",
  "info2Label": "GameTime",
  "info3Label": "Location",
  "info4Label": "Biome",
  "sizePercent": "25",
  "frameAlpha": "0",
  "terrainAlpha": "80",
  "orientation": "North",
  "compassFontScale": "1",
  "showCompass": "true",
  "showReticle": "true",
  "reticleOrientation": "Compass",
  "active": true,
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "false",
  "mobDisplay": "SmallDots",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "true",
  "showVillagers": "false",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "1",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "false",
  "showEntityNames": "false",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.7.0b3"
}