// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "enabled": "false",
  "port": "8080",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.7.0b3"
}