.mixin.out/
craftpresence/chardata.properties
crash-reports/
downloads/
journeymap/data/
journeymap/icon
journeymap.log
logs/
minecolonies/
saves/
screenshots/
structurize/
tutorials/
knownkeys.txt
manifest.json
minecraftinstance.json
modlist.html
options.txt
TrashSlotSaveState.json
usercache.json
usernamecache.json
