// JourneyMap server configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft server
// For more information, go to: http://journeymap.info/JourneyMapServer
//
// Global Server Configuration : Applies to all dimensions unless overridden. 
{
  "useWorldId": "false",
  "playerTrackingEnabled": "true",
  "opPlayerTrackingEnabled": "true",
  "playerTrackingUpdateTime": "5",
  "teleportEnabled": "false",
  "opSurfaceMappingEnabled": "true",
  "surfaceMappingEnabled": "true",
  "opTopoMappingEnabled": "true",
  "topoMappingEnabled": "true",
  "opCaveMappingEnabled": "false",
  "caveMappingEnabled": "false",
  "opRadarEnabled": "true",
  "radarEnabled": "true",
  "playerRadarEnabled": "true",
  "villagerRadarEnabled": "true",
  "animalRadarEnabled": "true",
  "mobRadarEnabled": "false",
  "configVersion": "5.7.0b3"
}